<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Navneen Sessions">
  <test name="testng test">
    <classes>
      <class name="com.test.GoogleTest"/>
        <class name="com.test.TestngBasic"/>
         
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->